<%- include('./layouts/header', {title: "Contact"}); -%>

<div class="container">
  <div class="row">
    <div class="col-12">
      <h1 class="alert bg-secondary border text-body-emphasis text-center">
        ¡Contactanos!
      </h1>
    </div>
  </div>
  <div class="row">
    <div class="col-6">
      <div class="card" style="width: 18rem;">
        <img src="../images/JuanFranco.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">Juan Manuel Franco Osorio. Desarrollador del sitio web Ecom Shirts</p>
        </div>
      </div>
    </div>
    <div class="col-6">
      <div class="card" style="width: 18rem;">
        <img src="../images/stackoverflow_logo.png" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">Agradecimientos especiales a Stackoverflow por todo el apoyo brindado a lo largo del desarrollo del proyecto</p>
        </div>
      </div>
    </div>
  </div>
</div>

<%- include('./layouts/footer'); -%>
